body {
    font-family: 'Noto Sans' , sans-serif;
    margin: 0;
    padding: 0;
}

.personal-details-card {
    border-radius: 25px;
    background-color: #5f9ea0e4;
    width: 70%;
    padding: 30px;
    margin-top: 15vh;
    margin-bottom: 15vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.3);
}

.select-box {
    border-radius: 15px;
    padding: 15px;
    border: none;
    width: 90%;

}

.field-title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding-top: 20px;
}

.personal-details-box {
    margin-top: 10vh;
    margin-left: 7vh;
}

.ctn-btn {
    border: none;
    font-size: 16px;
    border-radius: 15px;
    padding: 15px;
    margin-left: 20vh;
    width: 60%;
    margin-top: 10px;
    cursor: pointer;
}

.ctn-btn:hover {
    background-color: black;
    color: #fff;

}

.info-icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 20px;
}

.popup-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    
}

.close-btn {
    display: block;
    margin-top: 20px;
    text-align: right;
}

.close-btn-pop-out {
    border: none;
    border-radius: 18px;
    padding: 13px;
    background-color: rgb(198, 196, 196);

}

.close-btn-pop-out:hover {
    background-color: black;
    color: #fff;
}

.popup-content {
    position: relative;
    
  }
  
  .close-icon {
    top: 5px;
    right: 10px;
    cursor: pointer;
  }
  
  .alert-icon {
    cursor: pointer;
  }

